<div class="container-fluid my-5">
  <img src='/images/hand.jpg' alt="Hand Image">
    <div class="row py-5">
        <div class="col-sm-6 offset-sm-6 p-5">
            <h3 class="py-3">Personnel Helper</h3>
            <p>働きたい人も雇いたい人も<br>皆んなが良かったと思えるように<br></p>
      </div>
  </div>
</div>