<div class="container-fluid my-5">
 <div class="row py-5 justify-content-center">
    <div class="inner cover">
      <div class="text-center">
      <h4 class="cover-heading">ログイン選択</h4>
        <%= link_to "仕事を探している方はこちら", new_staff_session_path, class: 'btn btn-lg btn-secondary' %>
        <%= link_to "人を雇いたい方はこちらから", new_company_session_path, class: 'btn btn-lg btn-secondary' %>
        <%= link_to "ログインせずに雇いたい方（観覧用）", company_guest_sign_in_path, class: 'btn btn-lg btn-secondary',method: :post %>
      </div>
    </div>
  </div>
</div>


