<h4>雇用履歴</h4>

 <table>
    <thead>
      <th></th>
      <th>スタッフ名</th>
      <th>雇用日時</th>
      <th>実施業務</th>
      <th>雇用日</th>
      <th>希望支払方法</th>
    </thead>
    <tbody>
      <% @employments.each do |emploment| %>
        <tr>
          <td>
            <%= employments.created_at.strftime("%Y/%m/%d") %>
          </td>
          <td><%= employments.emploment_details.staff.name %></td>
          <td><%= link_to "表示する", comapany_employment_path(employment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  